<div class="lists index">
		<h2 class='listsHeader'>Lists</h2>

		<%= link_to("Add New List", new_list_path, :class => 'action new') %>

		<table class="listing" summary "Lists list">
			
			<% @lists.each do |list| %>
			<tr>
				<td><%= link_to(list.name, edit_list_path(list.id), :class => 'action edit') %></td>
				<td>
					<%= form_for(list, :method => 'delete') do |f| %>
						<div class='form-buttons'>
							<%= f.submit("X") %>
						</div>
						<% end %>					
			</tr>
			<% end %>
		</table>
	</div>