<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>

<%= link_to("<< Back to lists", lists_path, :class => 'back button') %>

<h3><%= @list.name%></h3>

<%if @list.sections.length > 0%>
	<h3><%= @list.sections[0].name %></h3>
	<h5><%= @list.sections[0].items[0].name %></h5>
<% end %>