<div class="users index">
		<h2>Users</h2>

		<%= link_to("Add New User", '#', :class => 'action new') %>

		<table class="listing" summary "Users user">
			<tr class="header">
				<th>First Name</th>
				<th>Last Name</th>
				<th>User Name</th>
			</tr>

			<% @users.each do |user| %>
			<tr>
				
				<td><%= link_to(user.first_name, user_path(user),:class => 'action show') %></td>
				<td><%= user.last_name%></td>
				<td><%= user.user_name%></td>
				<td>
			</tr>
			<% end %>
		</table>
		
	</div>